{% extends "choreographer_base.html" %}

{{% block title %}
    Schedule
{% endblock %}}

{{% block info %}
    {% include "search.html" %}
    {% if data %}
        <div class="container row">
            {% for el in data %}
                <div class="col-md-4 my-2">
                    <div class="alert alert-warning h-100 d-flex justify-content-around flex-column">
                        <h4>{{ el.group }}</h4>
                        <span>Дата: {{ el.class_date }}</span>
                        <span>Время: {{ el.class_time }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="d-flex w-100 justify-content-center align-items-center" style="height: 100vh;">
            <div class="text-white display-5">Ничего не нашлось(</div>
        </div>
    {% endif %}
{% endblock %}}